<div class="box">
  <form class="sign_up" action='/users' method='post'>
    <header>Sign up to EarBnb</header>
    
    <div class="input_group">
      <label for='name'>First name : </label>
      <input id="name" name='first_name' type='text' value='<%= @user.first_name %>' required placeholder="E.g John">
    </div>

    <div class="input_group">
      <label for='last_name'> Last name : </label>
      <input id="last_name" name='last_name' type='text' value='<%= @user.last_name %>' required placeholder="E.g Tom">
    </div>

    <div class="input_group">
      <label for='email'>Email : </label>
      <input id="email" name='email' type='text' value='<%= @user.email %>' required placeholder="TomJ@gmail.com">
    </div>

    <div class="input_group">
      <label for='password'>Password : </label>
      <input id="password" name='password' type='password'>
    </div>

    <div class="input_group">
      <label for='password_confirmation'>Confirm Password : </label>
      <input id="password_confirmation" name='password_confirmation' type='password'>
    </div>

    <div class="input_group">
      <input type='submit' value='Sign up'>
    </div>

  </form>
</div>
