<!-- <style>
/*
  h1 {
    text-align:center;
    margin:30px auto 0 auto;
    font-size: 40px;
    font-weight:bold;
  }

  .box {
    width:400px;
    border-radius:5px;
    padding: 10px;
    /*box-shadow: -5px 5px 5px rgba(8,116,171,0.7);*/
    box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
    margin:20px auto auto auto;
    display:block;
    background-color:LightGray;
  }*/
</style> -->
<style>
.sign_up{
    background-color: LightGray;
    border-radius: 5px;
    /*box-shadow: -5px 5px 5px rgba(8,116,171,0.7);*/
        box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
    display: block;
    margin: 20px auto auto auto;
    padding: 10px;
    width: 400px;
}

.sign_up header{
  font-size: 40px;
  font-weight:bold;
  margin:10px auto 20px auto;
  text-align:center;
}

.sign_up label{
  display:inline-block;
  text-align:right;
  width:150px;
}


.sign_up .input_group{
  margin:5px;
  padding:5px;
}

.sign_up input[type="text"],
.sign_up input[type="password"]{
  min-width:180px;
  padding:5px;
}

.sign_up input[type="submit"]{

  -moz-appearance:button;
  -webkit-appearance:button;
  border-radius:5px;
  display:block;
  margin:auto;
  padding:5px;
  width:100px;
  border: 2px solid #555;
}
.sign_up input[type="submit"]:hover{
  background:#333;
  color:white;
}
  }
</style>

<div class="box">
  <form class="sign_up" action='/users' method='post'>
    <header>Sign up to EarBnb</header>
    <div class='form-group'>
      <label for='name'>First name : </label>
      <input id='name' name='first_name' type='text' value='<%= @user.first_name %>' required placeholder="E.g Keith">
    </div>

    <div class='form-group'>
      <label for='last_name'>Last name : </label>
      <input id='last_name' name='last_name' type='text' value='<%= @user.last_name %>' required placeholder="E.g Tom">
      </div>

    <div class='form-group'>
      <label for='email'>  Email : </label>
      <input id='email' name='email' type='text' value='<%= @user.email %>' required placeholder="E.g KTom@gmail.com">
    </div>

    <div class='form-group'>
      <label for='password'>Password : </label>
      <input id='password' name='password' type='password'>
    </div>

    <div class='form-group'>
      <label for='password_confirmation'>Confirm Password : </label>
      <input id='password_confirmation' name='password_confirmation' type='password'>
    </div>

    <div class='form-group'>
      <input type='submit' value='Sign up'>
    </div>

  </form>
</div>
