body
{
  background: url('/earbnb/space_lounge.jpg');
}
.logo{
  width:100px;
}
.top_box {
    width:100%;
    border-radius:5px;
    padding:10px;
    margin: 5px auto 50px auto;
    display:block;
    /*background-color:rgb(150,150,150);*/
    background: -webkit-linear-gradient(left,#E13423, #E96A1A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,#E13423, #E96A1A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left,#E13423, #E96A1A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left,#E13423, #E96A1A); /* Standard syntax (must be last)*/
    overflow:hidden;
    text-align:center;
    color:#fff;
  }

.top_left {
  float:left;
}

.top_right {
  float:right;
}

.top_center {
  display:inline-block;
  vertical-align:text-bottom;
}

.top_box input[type='submit']{
  border:2px solid #555;
}


.top_box input[type='submit']{
  margin:5px;
}
