body{
   background: url('/earbnb/space_lounge(compressed).jpg');
 }

.logo{
  width:100px;
}
.top_box {
  background: -webkit-linear-gradient(left,#E13423 30%, #E96A1A); /* For Safari 5.1 to 6.0 */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#E13423), color-stop(30%,#E13423), color-stop(100%,#E96A1A)); /* Chrome,Safari4+ */
  background: -o-linear-gradient(left,#E13423 30%, #E96A1A); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left,#E13423 30%, #E96A1A); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left,#E13423 30%, #E96A1A); /* Standard syntax (must be last)*/
  border-radius:5px;
  color:#fff;
  display:block;
  margin: 5px auto 50px auto;
  overflow:hidden;
  padding:10px;
  text-align:center;
  width:100%;

}

.top_left {
  float:left;
}

.top_right {
  float:right;
}

.top_center {
  display:inline-block;
  vertical-align:text-bottom;
}

.top_box input[type='submit']{
  border:2px solid #555;
}


.top_box input[type='submit']{
  margin:5px;
}

h1 {
  text-align:center;
  margin:30px auto 0 auto;
  font-size: 40px;
  font-weight:bold;
  color:white;
}
