.login{
    background-color: LightGray;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(8,116,171,0.7);
    display: block;
    margin: 20px auto auto auto;
    padding: 10px;
    width: 400px;
}

.login header{
  font-size: 40px;
  font-weight:bold;
  margin:10px auto 20px auto;
  text-align:center;
}

.login label{
  display:inline-block;
  text-align:right;
  width:130px;
}


.login .input_group{
  margin:5px;
  padding:5px;
}

.login input[type="email"],
.login input[type="password"]{
  min-width:180px;
  padding:5px;
}

.login input[type="submit"]{

  -moz-appearance:button;
  -webkit-appearance:button;
  border-radius:5px;
  display:block;
  margin:auto;
  padding:5px;
  width:100px;
}
.login input[type="submit"]:hover{
  background:#333;
  color:white;
}
