<header class="row page_header">
  <% if current_user %>
  <div class="col-sm-2 top_left">
      <a href="/" class="logo_link">
        <img class="logo" src="/earbnb/logo(compressed).jpg" alt="earbnb logo">
      </a>
      <p> Bnb that are out of this world</p>
    </div>

    <div class="col-sm-4 top_center">
      Welcome, <b><%= current_user.first_name %>&nbsp;<%= current_user.last_name %></b>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out' class='btn btn-default'>
      </form>
    </div>

    <div class="col-sm-4 top_right">
      <form action='/conversations'>
        <input type='submit' value='Conversations' class='btn btn-default'>
      </form>

      <form action='/properties/new'>
        <input type='submit' value='Make new listing' class='btn btn-default'>
      </form>
    </div>
  <% else %>
  <div class="col-sm-2 top_left">
      <a href="/">
        <img class="logo" src="/earbnb/logo(compressed).jpg" alt="earbnb logo">
      </a>
    </div>

    <div class="col-sm-4 top_center">
      New to EarBnb?
      <form action='/users/new'>
        <input type='submit' value='Sign Up' class='btn btn-default'>
      </form>
    </div>

    <div class="col-sm-4 top_right">
      Have an account?
      <form action='/sessions/new'>
        <input type='submit' value='Log in' class='btn btn-default'>
      </form>
    </div>
  <% end %>
</div>
