<div class="top_box">
  <% if current_user %>
    <div class="top_left">
      <img class="logo" src="/imgs/earbnb/logo.png" alt="earbnb logo">
    </div>

    <div class="top_center">
      Welcome, <b><%= current_user.first_name %> <%= current_user.last_name %></b>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    </div>

    <div class="top_right">
      <form action='/properties/new'>
        <input type='submit' value='Make new listing'>
      </form>
    </div>
  <% else %>
    <div class="top_left">
      <img class="logo" src="/imgs/earbnb/logo.png" alt="earbnb logo">
    </div>

    <div class="top_center">
      New to EarBnb?
      <form action='/users/new'>
        <input type='submit' value='Create an account'>
      </form>
    </div>

    <div class="top_right">
      Have an account?
      <form action='/sessions/new'>
        <input type='submit' value='Log in'>
      </form>
    </div>
  <% end %>
</div>
