
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EarBnb</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/template.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
  </head>
  <body>
    <div class="container-fluid">
      <%= partial :welcome %>
      <%= partial :flash %>
      <%= yield %>
    </div>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
