<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EarBnb</title>
    <link rel="stylesheet" type="text/css" href="/styles/welcome.css">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" type="text/css" href="/styles/signUp.css">
    <link rel="stylesheet" type="text/css" href="/styles/error.css">
  </head>
  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
